<div class="container-fluid">
  <div class="row d-flex alert alert-light justify-content-between stuck" style="margin-bottom: 0px;padding-top: 5px !important;">
        <div class="logo">
          <img class="rounded-pill" src="assets/img/bim.png" routerLink="/home" style="cursor: pointer;" alt="">
          <div class="log-out" title="Déconnexion" (click)="_logOut()"><i class="fas fa-sign-in-alt"></i></div>
        </div>
  </div>

  <div class="col-auto d-flex justify-content-end">

  </div>
</div>
