.row
{
  padding-left: 25px;
}

.col-auto
{
  font-size: 14px;
  color: black;
  font-weight: bold;
  border: solid black 1px;
  padding: 5px;
}

span
{
  cursor: pointer;
  transition: all .4s;
}

span:hover
{
  color: #FF5722;
}

.activeB
{
  color: #FF5722;
}
